* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #111111, #2b1118);
  color: white;
}
.container {
  text-align: center;
  width: 100%;
  max-width: 600%;
  padding: 30px;
}
h1{
  font-size: 42px;
  margin-bottom: 10px;
}
.subtitle{
  color: #cccccc;
  margin-bottom: 25px;
}
#sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 450px;
  max-width: 100%;
  margin: 0 auto  25px;
  border: 3px solid white;
}
.cell {
  width: 100%;
  aspect-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #1b1b1b;
  border: 1px solid #555;
  outline: none
}
.cell:focus {
  background-color: #3b2028;
}
.cell:nth-child(3n) {
  border-right: 3px solid white;
}
.cell:nth-child(9n) {
  border-right: none;
}
.cell:nth-child(n + 19):nth-child(-n + 27),
.cell:nth-child(n + 46):nth-child(-n + 54) {
  border-bottom: 3px solid white;
}
  
  
  
